# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OnlineGameClient.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thoma\Dropbox\Networking Unity\Client Projet Unity\OnlineGameClient\.idea\.idea.OnlineGameClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
